objs
*.elf
tags
data
tmp
octave-workspace
test/*.o
gdb.txt
*.o
constants/tables.{c,h}
test/blips_midiclock
test/midi_map_midpoint_exact
*.bin
_gend_fwir_header.h
inc/_gend_fwir_header.h
__pycache__
inc/_gend_tempo_map_table_header.h
inc/version.h
